# Java
target/
*.jar
*.war
*.class

# Maven
.mvn/
mvnw
mvnw.cmd

# Node.js
node_modules/
dist/

# Logs
*.log
.DS_Store

# IDEs
.idea/
*.iml
.vscode/

#my
.env
infrastructure/docker/pgdata/
infrastructure/docker/pgadmindata/

# Added by ggshield
.cache_ggshield
